[Desktop Entry]
Encoding=UTF-8
Name=kredentials
Name[xx]=xxkredentialsxx
Exec=kredentials
Icon=kredentials
Type=Application
Comment=Panel Applet to renew authentication credentials
X-KDE-StartupNotify=false
